<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @order_status.status %>
</p>

<p>
  <strong>Content:</strong>
  <%= @order_status.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @order_status.user %>
</p>

<p>
  <strong>Updatedate:</strong>
  <%= @order_status.updateDate %>
</p>

<%= link_to 'Edit', edit_order_status_path(@order_status) %> |
<%= link_to 'Back', order_statuses_path %>
