<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @customer.firstname %>
</p>

<p>
  <strong>Secondname:</strong>
  <%= @customer.secondname %>
</p>

<p>
  <strong>Companyname:</strong>
  <%= @customer.companyName %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @customer.phoneNumber %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
