<!DOCTYPE html>
<html>
<head>
  <title>OrderManagment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-6">
		<h1>Order Managment</h1>
	</div>
	<div class="col-md-4">
		User panel
	</div>

</div>
<div class="row">
  <div class="col-md-2">
  	<ul class="nav nav-pills nav-stacked" role="tablist">
  	  <%= link_to "Orders", orders_path %>
  	  <%= link_to "Customers", customers_path %>
	 </ul>
  </div>
  <div class="col-md-8">
  	<%= yield %>
  </div>
</div>


</body>
</html>
